<li>
	{{name}}

	<button class="change-taste_Good" data-id="{{id}}" data-new_tastes_Good="{{new_tastes_Good}}">
		{{#if tastes_Good}}BURGER TIME!{{else}}LETS GET IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
