<li>
	{{name}}

	<button class="change-taste_Good" data-name="{{name}}" data-id="{{id}}" data-taste={{taste_Good}}>
		{{#if taste_Good}}TURN IT DOWN!{{else}}LETS GET IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
